fastapi
uvicorn
python-multipart
openai-whisper
langchain
langchain-community
langchain-huggingface
langchain-ollama
langchain-core
langchain-text-splitters
faiss-cpu
mediapipe==0.10.14
opencv-python
numpy<2
pypdf
pypdf2
pdfplumber
spacy
sentence-transformers
torch
gliner
pytesseract 
pdf2image